<%= form_for Event.new do |e| %>

<h2>Create new event</h2>
<%= e.label :title %>
<%= e.text_field :title %>

<%= e.label :description %>
<%= e.text_field :description %>

<%= e.label :user %>
<%= e.select :user, ["Ladies Learning Code", "Girls Learning Code", "HackerYou", "Public"] %>

<%= e.label :time %>
<%= e.text_field :time %>


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#event_time" ).datepicker();
  });
  </script>
 


<%= e.submit %><p>or go <%= link_to 'back', events_path %></p>

<% end %>