<form class="form-signin">
<%= form_for Event.new do |f| %>

<h2 class="form-signin-heading">Create new event</h2>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_area :description, :rows => "3" %>


<%= f.label :start_date %>
<%= f.text_field :start_date, class: "date_picker" %>


 <%= f.label :start_time %>
 <%= f.text_field :start_time, class: "time_picker" %>


<%= f.label :end_date %>
<%= f.text_field :end_date, class: "date_picker" %>



<%= f.label :end_time %>
<%= f.text_field :end_time, class: "time_picker" %>


<p><%= f.submit 'Submit', :class => "btn btn-primary" %></p>
<p>or go <%= link_to 'back', events_path %></p>

<% end %>


<script>
  $(function(){
    $(".time_picker").timepicker();
    $(".date_picker").datepicker({'autoclose': true});
  });
</script>
</form>
