<div class="container">
	<div class="row">
		<div class="span8">

			<%= render "calendar" %>
		
		</div>

		<div class="span4">
		
			<h2>Click on a date to check what events are scheduled for that day.</h2>
			<%= link_to 'Book an event', new_event_path, :class => "btn btn-primary" %>
			<p><%= @date.strftime("%A, %b %d") %></p>
			<table>	
				<ul>
					<% @events.each do |d| %>
						<li><%#= d.user.user_name %></li>
						<li><%= d.title %></li>
						<li><%= d.description %></li>
						<li><%= d.start_at %></li>
						<li><%= d.end_at %></li>
					<% end %>
				</ul>
			</table>
		</div>
	</div>
</div><!--container-->


