<div class="container">
	<div class="row">
		<div class="span8">

		
			<%= render "calendar" %>
		
		</div>
		<div class="span4">
		
			<h2>Click on a date to check what events are scheduled for that day.</h2>
			<%= link_to 'Book an event', new_event_path, :class => "btn btn-primary" %>
		<table>	
			<ul>
				<il><% @events.each do |d| %></il>
				<il><%= @date.strftime("%A, %b %d") %></il>
				<il><%= d.user.user_name %></il>
				<il><%= d.title %></il>
				<il><%= d.description %></il>
				<il><%= d.start_at %></il>
				<il><%= d.end_at %></il>
			</ul>
		</table>
			<% end %>
		</div>
	</div>
</div><!--container-->


