<div class="container">
	<div class="row">
		<div class="span8">

		
			<%= render "calendar" %>
		
		</div>
		<div class="span4">
		
			<h2>Click on a date to check what events are scheduled for that day.</h2>
			<%= link_to 'Book an event', new_event_path, :class => "btn btn-primary" %>

			<% @events.each do |d| %>
				<%= @date %>
				<%= d.title %>
				<%= d.description %>
				<%= d.start_at %>
				<%= d.end_at %>
			<% end %>
		</div>
	</div>
</div><!--container-->


