<div class="container">
	<div class="row">
		<div class="span8">
			<%= render "calendar" %>
		</div>

		<div class="span6">
			<h2>Click on a date to check what events are scheduled for that day.</h2>
			<%= link_to 'Book an event', new_event_path, :class => "btn btn-primary" %>
			

				<ul class="unstyled">
					<dl class="dl-horizontal2">
						<% @events.each do |d| %>
						<div class="event_details">
							<h3><%= @time.strftime("%A, %b %d") %></h3>
							<li><%= d.user.user_name %></li>
							<li><dt>Event Name:</dt><dd><%= d.title %></dd></li>
							<li><dt>Description:</dt><dd><%= d.description %></dd></li>
							<li><dt>Start Time:</dt><dd><%= d.start_at.strftime("%B %e, %Y %m:%M %p") %></dd></li>
							<li><dt>End Time:</dt><dd><%= d.end_at.strftime("%B %e, %Y %m:%M %p") %></dd></li>
						</div>
						<% end %>
					</dl>
				</ul>

		</div>
	</div>
</div><!--container-->


