<!-- <head>
	<script>
		$(document).ready(function() {

    	// page is now ready, initialize the calendar...

    	$('#calendar').fullCalendar({
        // put your options and callbacks here
    	})

		});
	</script>
</head> -->

<!-- <div id='calendar'></div> -->

<div class="row">
	<div class='calendar well'>
		<div class="header lead" style="text-align: center";>
			<%= link_to "← ", events_path(day: (@time - 1.month).to_date) %>
			<%= @time.strftime("%B") %>
			<%= link_to " →", events_path(day: (@time + 1.month).to_date) %>
		</div>

		<table class='titles'>
			<tr>
				<td class="date smallcaps">
					MON
				</td>
				
				<td class="date smallcaps">
					TUES
				</td>

				<td class="date smallcaps">
					WED
				</td>

				<td class="date smallcaps">
					THU
				</td>

				<td class="date smallcaps">
					FRI
				</td>

				<td class="date smallcaps">
					SAT
				</td>

				<td class="date smallcaps">
					SUN
				</td>
			</tr>
		</table>
		<table>
			<% (@time.beginning_of_month.beginning_of_week.to_date..@time.end_of_month.end_of_week.to_date).each do |day| %>
				<% if day.monday? %>
					<tr class="week">

				<% end %>
				
				<td class="date">
					<%= link_to events_path(day: day) do %>
						<%= day.day %>
						<% if @events_hash[day.strftime("%d").to_i] %>
							<div class="circle_background"><span class="pretty_circle"><%= @events_hash[day.strftime("%d").to_i] %></span></div>
						<% end %>
					<% end %>
				</td>
			<% end %>
		</table>
	</div>
</div>